DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=qrmenu
DATABASE_SYNC=false

# security
JWT_SECRET=change-me
JWT_EXPIRE=86400
REFRESH_TOKEN_SECRET=change-me-too
REFRESH_TOKEN_EXPIRE=2592000
